/* _______________ header _______________________ */
.header {
  width: 100%;
  padding: 34.5px 0;
}

.header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__logo {
}

.header__logo img {
  height: 33px;
  width: 72px;
}

.header__nav {
  width: 70%;
}

.header__nav .nav {
}

.nav-list {
  background-color: #6a6e7200;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  letter-spacing: 0.5%;
  color: #6c757d;
  font-weight: 500;
  transition: all 0.2s;
  cursor: pointer;
  margin-right: 32px;
}

.nav-item:hover {
  transform: scale(1.1);
}

.nav-item--else {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-item--else img {
  width: 10px;
  height: 5px;
  margin-left: 5px;
}

.nav-item-else img {
}

.nav-item a {
  color: #6c757d;
}

.header__contact {
  display: flex;
  align-items: center;
}

.header__contact-item {
  margin-right: 15px;
  color: #1e2429;
  cursor: pointer;
  transition: all 0.2s;
}

.header__contact-item:hover {
  transform: scale(1.1);
}

.header__contact-item:last-child {
  margin-right: 0;
  transform: none;
}

.header__contact-item img {
  height: 16px;
  width: 16px;
}

.else-block {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}
.nav-item--else:hover .else-block {
  display: block;
}
.else-block .nav-item {
  margin: 5px;
  width: fit-content;
  text-wrap: nowrap;
}
/*----------------- burger ------------------- */

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
    bottom 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}

.stop-scroll {
  overflow: hidden;
}

@media (max-width: 1024px) {
  .nav-list {
    border-radius: 10px 0 0 10px;
    flex-direction: column;
    align-items: end;
    background-color: #171817cc;
  }

  .nav-item a {
    color: #fff;
  }
  .nav-item {
    /* width: 100%; */
    padding: 10px 30px;
    color: #fff;
  }

  .burger {
    display: block;
  }

  .nav {
    --header-height: 63px;
    position: fixed;
    right: 0;
    top: var(--header-height);
    z-index: 1000;
    overflow-y: auto;
    padding: 30px 0;
    width: 60%;
    max-width: 300px;
    height: calc(100vh - var(--header-height));
    background-color: var(--main-bg);
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
  }

  .nav--visible {
    transform: none;
  }

  /* .nav__list {
      flex-direction: column;
    }
  
    .nav__item {
      width: 100%;
    } */

  .nav__item:not(:last-child) {
    margin-right: 0;
  }

  .nav__link {
    display: inline-block;
    width: 100%;
    padding: 20px 30px;
    border-bottom: 1px solid var(--second-text);
    font-size: 20px;
  }
  .else-block {
    background-color: black;
  }
}

@media (max-width: 1024px) {
  .header__contact-item {
    display: none;
  }
}
/*--------------------- slider ------------------------ */
.swiper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*--------------------- switch ------------------------ */

.switch {
}

.switch-item {
  color: #1e2429;
  font-weight: 600;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: all 0.2s;
}

.switch-item:hover {
  background-color: #e6e9ec;
}

.switch-item.active {
  background-color: #e6e9ec;
}

.switch-item span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-left: 1px solid #d9dfe3;
  border-right: 1px solid #d9dfe3;
}

.switch-item:first-child span {
  border-left: none;
}

.switch-item:last-child span {
  border-right: none;
}

/*--------------------- range ------------------------ */
.filters-price__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 4px;
}

.filters-price__label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 40px; */
  /* border: 1px solid #D9D9D9; */
  background-color: #f7f7f7;
  padding: 22px 0;
  pointer-events: none;
}

.filters-price__text {
  font-size: 14px;
  color: #808080;
}

.filters-price__text:first-child {
  margin-right: 10px;
}

.filters-price__text:last-child {
  margin-left: 10px;
}

.filters-price__input {
  border: none;
  color: #4d4d4d;
  font-weight: 600;
  font-size: 16px;
  background-color: transparent;
}

.filters-price__title {
  margin-bottom: 20px;
}

.filters-price__slider {
  /* margin-bottom: 20px; */
}

.noUi-connect {
  background-color: #5d71dd;
}

.noUi-target {
  background-color: #bfbfbf;
  border: none;
  border-radius: 100px;
  box-shadow: none;
  height: 3px;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-handle {
  box-shadow: none;
  border-radius: 100%;
  background-color: #fff;
  border: 3px solid #5d71dd;
}

.noUi-horizontal .noUi-handle {
  width: 22px;
  height: 22px;
  top: -10px;
}

.noUi-horizontal .noUi-handle-upper {
  right: 0;
}

/*--------------------- start-page ------------------------ */

.start-page {
  width: 100%;
  color: #ffff;
  margin-bottom: 33px;
  border-bottom: 1px solid gray;
  padding: 0;
}

.start-banner {
  width: 100%;
  background: url("./img/main-banner.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 70vh;
}

.start-banner .container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.start-banner {
}

.banner-left {
}

.banner-left--title {
  line-height: 56.68px;
}

.banner-left--subtitle {
  line-height: 36.8px;
}

.banner-left--way {
  display: flex;
  align-items: center;
}

.banner-left--way .circle {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #2e7a6e;
  margin-right: 12px;
}

.banner-left--way .car-time {
  display: flex;
  align-items: center;
  margin-left: 12px;
  background-color: #1e242973;
  padding: 3px 5px;
}

.banner-left--way img {
  width: 23px;
  height: 11px;
  margin-right: 10px;
}

.banner-right {
  height: fit-content;
  font-size: 12px;
  padding: 16px 20px;
  background-color: #1e24298f;
}

.banner-right--title {
  display: flex;
  align-items: center;
}

.banner-right--title img {
  width: 12px;
  height: 7px;
  margin-right: 10px;
}

.banner-right--date {
  display: flex;
  align-items: end;
}

.banner-right--date .number {
  display: flex;
  align-items: end;
  font-size: 24px;
  line-height: 30px;
  /* margin: 0 5px; */
}

.banner-right--date .number:first-child {
  margin-right: 5px;
}

.banner-right--date .number:last-child {
  margin: 0 5px;
}

.start-info {
}

.start-info .container {
  display: flex;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 39px;
}

.start-info .info-left {
  display: flex;
}

.start-info .info-item {
  margin-right: 48px;
}

.start-info .info-item--title {
  font-size: 12px;
  font-weight: 400;
  color: #6c757d;
}

.start-info .info-item--content {
  font-size: 20px;
  font-weight: 600;
  color: #1e2429;
}

.start-info .info-right {
  display: flex;
}

.start-info .info-button--light {
  /* width: 100%; */
  padding: 22px 56px;
  color: #2e7a6e;
  border: 1px solid #2e7a6e;
  margin-right: 8px;
  border-radius: 10px;
  background: #ffff;
  cursor: pointer;
  transition: all 0.2s;
}

.start-info .info-button--green {
  /* width: 100%; */
  padding: 22px 56px;
  background: #2e7a6e;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
}

.start-info .info-button--light:hover {
  transform: scale(1.03);
}

.start-info .info-button--green:hover {
  transform: scale(1.03);
}

@media ((max-width: 1000px)) {
  .start-info .container {
    width: 100%;
    flex-direction: column;
  }

  .start-info .info-left {
    width: 100%;
    justify-content: space-between;
  }

  .start-info .info-right {
    width: 100%;
    flex-direction: column;
  }

  .start-info .info-button--light {
    padding: 14px 0;
    margin: 8px 0;
  }

  .start-info .info-button--green {
    padding: 14px 10px;
  }
}

@media ((max-width: 570px)) {
  .start-banner .container {
    flex-direction: column;
    padding-top: 24px;
    height: 100%;
  }

  .banner-right {
    transform: scale(1.05);
  }

  .start-info .info-left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
  }

  .start-info .info-item {
    margin: 0;
    padding: 12px 16px;
    background-color: #f7f7f7;
  }
}

/*------------------------------- paradise ------------------------------- */

.paradise {
}

.paradise .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.paradise-info {
  /* width: 49%; */
}

.paradise-info--top {
  margin-bottom: 50px;
}

.paradise-title {
  margin-bottom: 32px;
}

.paradise-description {
  color: #6c757d;
  font-weight: 400;
}

.paradise-info--filters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
}

.filters-title {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 8px;
  color: #6c757d;
}

.paradise-checkdata {
}

.checkdata-switch {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.checkdata-switch .switch-item {
  padding: 22px 0;
}

.paradise-rooms {
}

.rooms-switch {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.rooms-switch .switch-item {
  padding: 22px 0;
}

.paradise-range {
}

.range {
  height: 100%;
}

.filters-price {
  height: 100%;
}

.filters-button {
  font-weight: 600;
  background-color: #2e7a6e;
  padding: 22px 0;
  color: #ffff;
  border: none;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 3;
  transition: all 0.2s;
}

.filters-button:hover {
  transform: scale(1.02);
}

.paradise-slider {
  width: 100%;
  height: 100%;

  border-radius: 10px;
  min-width: 0;
  flex: 1 1 auto;
  overflow: hidden;
}

.swiper-pagination--paradise {
  position: absolute;
  bottom: 5% !important;
  z-index: 5;
  display: flex;
  justify-content: center;
}

.swiper-pagination--paradise .swiper-pagination-bullet {
  width: 32px;
  height: 5px;
  background: #ccd4da;
  border-radius: 10px;
}

.slide-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media ((max-width: 1000px)) {
  .paradise .container {
    grid-template-columns: 1fr;
  }

  .paradise-info--filters {
    display: none;
  }

  .paradise-info--top {
    margin-bottom: 0;
  }
}

@media ((max-width: 570px)) {
}

/*------------------------------- environment ------------------------------- */
.environment {
}
.environment .container {
}
.environment-title {
}

.environment-content {
  overflow: hidden;
}
.environment-map {
  position: relative;
  background-image: url("./img/enviroment-map.png");
  background-position: 34% 100%;
  width: 1292px;
  height: 641px;
}
.environment-map__item {
  position: absolute;
  cursor: pointer;
  transition: all 0.2s;
}
.environment-map__item:hover {
  transform: scale(1.04);
}
.environment-map__item img {
  border-radius: 50%;
}

.environment-map__item > div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}
.environment-map__item-title {
  font-size: 12px;
  font-weight: 600;
  padding: 8px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid black;
}
.environment-map__item .environment-map__item-img {
  background-color: #e06f6f;
  padding: 8px;
  border-radius: 50%;
}
.environment-map__item-obj .environment-map__item-title {
  font-size: 16px;
  font-weight: 700;
}

.environment-map__item-obj .environment-map__item-img,
.environment-map__item-park .environment-map__item-img {
  background-color: none;
  padding: 0;
}
.environment-map__item-obj {
  top: 37%;
  left: 17%;
}
.environment-map__item-metro {
  top: 55%;
  left: 16%;
}
.environment-map__item-arena {
  top: 48%;
  left: 47%;
}
.environment-map__item-fermer {
  top: 50%;
  left: 60%;
}
.environment-map__item-platon {
  top: 59%;
  left: 49%;
}
.environment-map__item-park {
  top: 70%;
  left: 49%;
}

.environment-modal__img {
}
.environment-modal__content {
  padding: 32px 24px 0 24px;
  overflow-x: auto;
  height: 55%;
}
.environment-modal__title {
}
.environment-modal__subtitle {
  margin: 8px 0 16px 0;
  display: flex;
  gap: 8px;
}
.environment-modal__subtitle span:first-child {
  font-size: 12px;
  text-wrap: nowrap;
  color: #1e2429;
}
.environment-modal__subtitle span:nth-child(2) {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  text-wrap: nowrap;
  color: #6c757d;
}
.environment-modal__subtitle span:nth-child(2) img {
  margin-right: 7px;
}
.environment-modal__text {
  font-weight: 400;
  color: #6c757d;
}

.environment-modal__blackout {
  /* width: 100%; */
  height: 80px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 10%;
}
/*------------------------------- forlife ------------------------------- */
.forlife {
}

.forlife .container {
  /* padding-right: 0;
  margin-right: 0; */
}

.forlife-title {
}

.forlife-scroll {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  width: 100%;
}

.forlife-slider-container {
  display: flex;
  gap: 30px;
}

.forlife-slide {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  width: 304px;
  height: 384px;
}

.forlife-slide img {
  object-fit: cover;
}

.forlife-slide--text {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forlife-slide h3 {
  color: #fff;

  padding: 32px;
  padding-bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.forlife-slide span {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  text-align: start;
  display: block;
  width: 100%;
  font-size: 16px;
  color: #fff;
  padding: 32px;
  padding-top: 0;
}

@media ((max-width: 1000px)) {
}

@media ((max-width: 570px)) {
}

/*------------------------------- geoplan ------------------------------- */

.geoplan {
}

.geoplan .container {
}

.geoplan-title {
}
.geoplan-content {
  overflow: hidden;
}
.geoplan-map {
  position: relative;
  background-image: url("./img/geoplan-img.png");
  background-position: 34% 100%;
  width: 1292px;
  height: 641px;
}
.geoplan-map__item {
  position: absolute;
}
.geoplan-map__item3-2 {
  top: 20%;
  right: 52%;
}
.geoplan-map__item3-1 {
  top: 24%;
  right: 55%;
}
.geoplan-map__item1-1 {
  top: 36%;
  right: 42%;
}
.geoplan-map__item1-2 {
  top: 43%;
  right: 38%;
}
.geoplan-map__item2-1 {
  top: 48.5%;
  right: 54.5%;
}
.geoplan-map__item2-2 {
  top: 52%;
  right: 45.5%;
}
.geoplan-map__button {
  position: absolute;
  padding: 8px;
  background-color: #ffff;
  font-size: 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.geoplan-map__button:hover {
  transform: scale(1.05);
}
.geoplan-map__button3-2 {
  top: 21%;
  right: 55.5%;
}
.geoplan-map__button3-1 {
  top: 30%;
  right: 64.5%;
}
.geoplan-map__button1-1 {
  top: 43%;
  right: 54.5%;
}
.geoplan-map__button1-2 {
  top: 52%;
  right: 41.5%;
}
.geoplan-map__button2-1 {
  top: 58%;
  right: 64.5%;
}
.geoplan-map__button2-2 {
  top: 60%;
  right: 43.5%;
}
@media ((max-width: 830px)) {
  .geoplan-map {
    transform: translate(-338px, 0);
  }
}
@media ((max-width: 500px)) {
  .geoplan-map {
    transform: translate(-380px, 0);
  }
}
@media ((max-width: 440px)) {
  .geoplan-map {
    transform: translate(-180px, 0);
    background-size: 100% 100%;
    width: 692px;
    height: 347px;
  }
  .geoplan-map__item {
    transform: scale(0.5);
  }

  .geoplan-map__item3-2 {
    top: 13%;
    right: 45%;
  }
  .geoplan-map__item3-1 {
    top: 17%;
    right: 49%;
  }
  .geoplan-map__item1-1 {
    top: 29%;
    right: 36%;
  }
  .geoplan-map__item1-2 {
    top: 36%;
    right: 32%;
  }
  .geoplan-map__item2-1 {
    top: 39.5%;
    right: 49.5%;
  }
  .geoplan-map__item2-2 {
    top: 42%;
    right: 40.5%;
  }

  .geoplan-map__button {
    transform: scale(0.7);
  }
  .geoplan-map__button3-2 {
    top: 17%;
    right: 51.5%;
  }
  .geoplan-map__button3-1 {
    top: 30%;
    right: 64.5%;
  }
  .geoplan-map__button1-1 {
    top: 39%;
    right: 53.5%;
  }
  .geoplan-map__button1-2 {
    top: 49%;
    right: 36.5%;
  }
  .geoplan-map__button2-1 {
    top: 55%;
    right: 61.5%;
  }
  .geoplan-map__button2-2 {
    top: 60%;
    right: 43.5%;
  }
}

.geoplan-modal__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #1e2429;
  margin-top: 8px;
}
.geoplan-modal__span {
  margin: 16px 0;
  font-size: 12px;
  font-weight: 400;
  color: #6c757d;
}
.geoplan-modal__list {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.geoplan-modal__list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.geoplan-modal__list-item-left {
  font-weight: 500;
}
.geoplan-modal__list-item-right {
  color: #6c757d;
}
.geoplan-modal__button {
  color: #fff;
  padding: 16px;
  width: 100%;
  background-color: #2e7a6e;
  text-align: center;
  border-radius: 10px;
}
.geoplan-modal__button a {
  color: #fff;
}

@media ((max-width: 1000px)) {
}

@media ((max-width: 570px)) {
}

/*------------------------------- plan ------------------------------- */
.plan {
  background: #f7f7f7;
}

.plan .container {
}

.plan-title {
}

.plan-filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 30px;
}

.plan-filters .filters-price__label {
  background-color: #fff;
}

.plan-filters .switch-item {
  background-color: #fff;
}

.plan-filters .switch-item.active {
  background-color: #e6e9ec;
}

.plan-content {
  display: flex;
  gap: 32px;
}
.plan-switch--scrooll {
  width: 40%;
  overflow: auto;
  background-color: #fff;
}
.plan-switch--dots {
  /* width: fit-content;
  height: fit-content; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  padding: 32px;
  border-radius: 10px;
  max-height: 416px;
}
.plan-switch--dots .switch-item {
  /* padding: 16px 50px; */
  width: 168px;
  height: 168px;
  border-radius: 10px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.plan-switch--dots .switch-item.active {
  background: #e6e9ec;
}
.plan-switch--dots img {
  width: 48px;
  height: 78px;
  object-fit: cover;
}
.plan-switch--dots span {
  font-size: 12px;
  font-weight: 400;
  border: none;
  text-wrap: nowrap;
}

.plan-switch--content {
  width: 60%;
  background-color: #fff;
  padding: 45px 32px;
  border-radius: 10px;
}
.plan-switch--content .card {
  position: relative;
  display: none;
  align-items: center;
  flex-direction: column;
}
.plan-switch--content .card.active {
  display: flex;
}
.plan-switch--content .card-img {
  margin-bottom: 50px;
}
.plan-switch--content .card-description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.plan-switch--content .description--left {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.plan-switch--content .description-item {
}
.plan-switch--content .description-title {
  color: #6c757d;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 3px;
}
.plan-switch--content .description-text {
}
.plan-switch--content .description-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.plan-switch--content .description-button span {
}
.plan-switch--content .description-button img {
  margin-left: 10px;
}

.plan-switch--content .card-compas {
  position: absolute;
  right: 0;
  top: 0;
}
@media ((max-width: 1000px)) {
  .plan-filters {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .plan-content {
    flex-direction: column;
  }
  .plan-switch--content,
  .plan-switch--scrooll {
    width: 100%;
  }
  .plan-switch--dots {
    display: flex;
    width: fit-content;
    padding: 32px 0;
  }
  .plan-switch--content {
    padding: 32px 10px;
  }
  .plan-switch--dots .switch-item {
    padding: 20px;
  }
}

@media ((max-width: 600px)) {
}

/*------------------------------- marketing ------------------------------- */

.marketing {
}

.marketing .container {
  display: flex;
  justify-content: space-between;
}

.marketing-block {
  background: #f7f7f7;
  width: 47%;
  padding: 32px;
  position: relative;
  border-radius: 10px;
}

.marketing-block h2 {
  margin-bottom: 8px;
}

.marketing-block h3 {
  margin-bottom: 16px;
  color: #6c757d;
}

.marketing-description {
  font-weight: 400;
  font-size: 12px;
  color: #6c757d;
  margin-bottom: 65px;
  max-width: 50%;
}

.marketing-button {
  background: #2e7a6e;
  color: #ffff;
  border: none;
  border-radius: 7px;
  padding: 22px 70px;
  cursor: pointer;
  transition: all 0.2s;
}

.marketing-button img {
  width: 5px;
  height: 10px;
}

.marketing-button:hover {
  transform: scale(1.05);
}

.marketing-img {
  max-width: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media ((max-width: 1100px)) {
  .marketing-button {
    padding: 10px 30px;
  }

  .marketing-button span {
    display: none;
  }

  .marketing-description {
    max-width: 60%;
    margin-bottom: 38px;
  }
}

/* @media ((max-width: 800px)) {
  .marketing-block img{
    max-width: 150px;
  }
}
@media ((max-width: 700px)) {
  .marketing-block img{
    max-width: 100px;
  }
} */
@media ((max-width: 570px)) {
  .marketing-block {
    padding: 25px;
  }

  .marketing-description {
    display: none;
  }

  .marketing-button {
    padding: 11px 15px;
    border: 1px solid #d9dfe3;
    background-color: #fff;
  }

  .marketing-block h2 {
    font-size: 14px;
  }

  .marketing-block h3 {
    font-size: 12px;
  }
}

/*------------------------------- credit ------------------------------- */
.credit {
}

.credit .container {
}

.credit-title {
}

.credit-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
}
.credit-calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.credit-calculator__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.credit-calculator__title span {
}
.credit-calculator__title img {
  padding: 8px;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.credit-calculator__title img:hover {
  transform: scale(1.05);
  background-color: #aaa9a9;
}
.credit-calculator__ranges {
  display: grid;
  row-gap: 34px;
  column-gap: 16px;
  grid-template-columns: 2fr 1fr;
}
.credit-calculator__ranges-cost {
  grid-column-start: 1;
  grid-column-end: 3;
}
.credit-calculator__ranges-initial {
  grid-column-start: 1;
  grid-column-end: 2;
}
.credit-calculator__ranges-term {
  grid-column-start: 2;
  grid-column-end: 3;
}
.credit-calculator__ranges-title {
  color: #6c757d;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
}
.credit-calculator__button {
  background-color: #2e7a6e;
  color: #fff;
  padding: 22px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  margin-bottom: 16px;
}
.credit-calculator__button:hover {
  transform: scale(1.02);
}
.credit-calculator__underbutton {
  font-size: 12px;
  font-weight: 400;
  color: #6c757d;
}
.credit-offer {
}
.credit-offer__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.credit-offer__title > div {
  display: flex;
  align-items: center;
}
.credit-offer__title > div > div {
  display: flex;
  align-items: center;
}
.credit-offer__title > div img {
  margin: 0 10px;
}
.credit-offer__pizdez {
  font-weight: 400;
  font-size: 12px;
  color: #6c757d;
  text-wrap: nowrap;
}
.credit-offer__title button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}
.credit-offer__title button:hover {
  transform: scale(1.04);
}
.credit-offer__title button img {
  margin-left: 10px;
  transform: rotate(-90deg);
}

.credit-offer__credit {
  border: 1px solid #d9dfe3;
  border-radius: 10px;
  overflow: hidden;
}
.credit-offer__credit-title {
  padding: 32px;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 3fr;
  border-bottom: 1px solid #d9dfe3;
}
.credit-offer__credit-title h3 {
  text-wrap: nowrap;
}
.credit-offer__credit-switch {
  display: flex;
  gap: 8px;
}
.credit-offer__credit-switch .switch-item {
  color: #6c757d;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 12px;
}
.credit-offer__credit-list {
  overflow: auto;
  max-height: 388px;
}
.credit-offer__credit-item {
  border-bottom: 1px solid #d9dfe3;
  /* border-top: 1px solid #D9DFE3; */
  padding: 24px 32px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
}

.credit-offer__credit-item:last-child {
  border-bottom: none;
}
.credit-offer__credit-bank {
  display: flex;
  align-items: center;
}
.credit-offer__credit-bank img {
  margin-right: 15px;
}
.credit-offer__credit-bank span {
}
.credit-offer__credit-data {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.credit-offer__credit-data-pay {
}
.credit-offer__credit-data-pay span {
  font-weight: 400;
  font-size: 12px;
  color: #6c757d;
}
.credit-offer__credit-data-pay div {
}
.credit-offer__credit-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.credit-offer__credit-button span {
  font-size: 12px;
  font-weight: 400;
  color: #6c757d;
  /* text-wrap: nowrap; */
}
.credit-offer__credit-button img {
  padding: 15px;
  border-radius: 10px;
  background-color: #f7f7f7;
  transition: all 0.2s;
  cursor: pointer;
}
.credit-offer__credit-button img:hover {
  transform: scale(1.04);
  background-color: #aaa9a9;
}
@media ((max-width: 1000px)) {
  .credit-content {
    grid-template-columns: 1fr;
  }
  .credit-offer__pizdez {
    display: none !important;
  }
}

@media ((max-width: 700px)) {
  .credit-offer__credit-title {
    grid-template-columns: 1fr;
  }
  .credit-offer__credit-title {
    padding: 32px 15px;
  }

  .credit-offer__credit-item {
    padding: 24px 15px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .credit-offer__credit-data {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .credit-offer__credit-button {
    justify-content: end;
    gap: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

/*------------------------------- progress ------------------------------- */
.progress {
}

.progress .container {
}

.progress-title {
}

.progress-title span {
  color: #6c757d;
  margin-left: 15px;
}

.progress-points {
  overflow: auto;
  margin-bottom: 30px;
}

.progress-switch {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 7px;
}

.progress-switch .switch-item {
  width: 100%;
  padding: 22px 0;
  min-width: fit-content;
}

.progress-switch .switch-item span {
  padding: 0 15px;
}

.progress-scrooll {
  overflow-x: auto;
  padding: 10px 0;
}

.progress-content {
  display: none;
  gap: 32px;
  width: fit-content;
}
.progress-content.active {
  display: flex;
}
.card-progress {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 540px;
  height: 325px;
}

.card-progress img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-progress__text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 32px 50px 32px 32px;
  background: #b3aeae5e;
  border-radius: 0 10px 0 0;
}

@media ((max-width: 1000px)) {
  .card-progress {
    width: 327px;
    height: 200px;
  }
}

@media ((max-width: 570px)) {
  .card-progress {
    width: 229px;
    height: 140px;
  }
}

/*------------------------------- news ------------------------------- */
.news {
  background: #f7f7f7;
}
.news .container {
}

.news-title--ctn {
  display: flex;
  justify-content: space-between;
}

.news-title {
}
.news-title--btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}
.news-title--btn:hover {
  transform: scale(1.05);
}

.news-title--btn img {
  margin-left: 12px;
  width: fit-content;
  height: fit-content;
  transition: all 0.2s;
}
.news-title--btn:hover img {
  transform: translate(5px, 0);
}
.news-content--scrooll {
  overflow-x: auto;
  padding: 10px 0;
}
.news-content {
  display: flex;
  width: fit-content;
  gap: 20px;
}
.news-card {
  width: 304px;
  height: 384px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  color: #ffff;
}
.news-card img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.news-card h3 {
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 32px;
}
.news-card--description {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.35) 100%
  );

  padding: 32px;
  z-index: 1;
}
.news-card--description span {
}
.news-card--buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.news-card--buttons button {
  font-size: 12px;
  background: #f7f7f7;
  padding: 7px 10px;
  color: #6c757d;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
/*------------------------------- footer ------------------------------- */

.footer {
  background-color: #f7f7f7;
  padding: 64px 0;
}

.footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1px 1fr 1fr;
  gap: 50px;
}

.footer-info {
  grid-column-start: 1;
  grid-column-end: 2;
}

.footer-feedback {
  grid-column-start: 2;
  grid-column-end: 3;
}

.footer-line {
  width: 100%;
  height: 100%;
  background-color: #d9dfe3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.footer-contact {
  grid-column-start: 4;
  grid-column-end: 5;
}

.footer-social {
  grid-column-start: 5;
  grid-column-end: 6;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-info h2 {
}

.footer-info span {
  font-weight: 400;
  font-size: 16px;
  color: #6c757d;
}

.footer-feedback {
}

.footer-feedback form {
  position: relative;
  margin-bottom: 16px;
}

.footer-feedback input {
  width: 100%;
  color: #a6b1b9;
  padding: 21px 32px;
  padding-right: 70px;
  border-radius: 8px;

  border: 2px solid #a6b1b9;
}

.footer-feedback button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #2e7a6e;
  padding: 0 27px;
  border-radius: 8px;
  border: none;
}

.footer-feedback .feedback-text {
  font-weight: 400;
  font-size: 12px;
  color: #6c757d;
}

.footer-contact {
}

.footer-contact .contact-number {
}

.footer-contact .contact-address {
  color: #6c757d;
  font-size: 12px;
}

.footer-contact .contact-politic {
  color: #6c757d;
  font-size: 12px;
}

.footer-social {
}

.footer-social .social-title {
}

.footer-social .social-networks {
  display: flex;
  gap: 8px;
}

.social-networks img {
}

.footer-social span {
  color: #6c757d;
  font-size: 12px;
}

@media ((max-width: 1000px)) {
  .footer {
    padding: 32px 0;
  }

  .footer .container {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 86px;
    row-gap: 32px;
  }

  .footer-info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .footer-feedback {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .footer-line {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .footer-contact {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .footer-social {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@media ((max-width: 570px)) {
  .footer {
    padding: 32px 0;
  }

  .footer .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    /* column-gap: 86px; */
    row-gap: 20px;
  }

  .footer-info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .footer-feedback {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .footer-line {
    display: none;
  }

  .footer-contact {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .footer-social {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

/* ------------------------------------------------- modal------------------------------------ */
.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.modal {
  position: relative;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  min-width: 300px;
  min-height: 300px;
  max-width: 90vw;
  /* max-height: 90vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-environment {
  overflow: hidden;
  width: 300px;
  height: 500px;
  padding: 0;
}
.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}
.modal-environment .modal-close {
  /* color: #fff; */
  padding: 5px 10px;
  background-color: #fff;
}
.modal-close {
  position: absolute;
  right: 5%;
  top: 3%;
  cursor: pointer;

  border-radius: 10px;

  transition: all 0.2s;
}
.modal-close:hover {
  /* transform: scale(1.03); */
}
