<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SNT</title>
    <!-- <link rel="stylesheet" href="./asset/main.css" /> -->
    <link rel="stylesheet" href="../asset/mainAdditional.css" />
    <link rel="stylesheet" href="../asset/style.css" />
    <link rel="stylesheet" href="../asset/fonts/fonts.css" />
    <!-- <link rel="stylesheet" href="./asset/compoents/nouislider.min.css" /> -->
    <!-- <link rel="stylesheet" href="./asset/compoents/rangesliderAlone.css" /> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
  </head>

  <body>
    <div id="news__single-page" class="wrapper">
      <header class="header">
        <div class="container">
          <div class="header__logo">
            <a href="../">
              <img src="../asset/img/logo.png" alt="logo" />
            </a>
          </div>
          <!-- <div class="header__nav"> -->
          <nav class="nav" data-nav>
            <ul class="nav-list">
              <li class="nav-item">
                <a href="#">О комплексе</a>
              </li>
              <li class="nav-item">
                <a href="#">Окружение</a>
              </li>
              <li class="nav-item">
                <a href="#">Преимущества</a>
              </li>
              <li class="nav-item">
                <a href="#">Квартиры</a>
              </li>
              <li class="nav-item">
                <a href="#">Контакты</a>
              </li>
              <li class="nav-item nav-item--else">
                Ещё <img src="../asset/img/icons/elseHeader.svg" />
                <ul class="else-block">
                  <li class="nav-item">
                    <a href="../templates/news.page.html">Новости и акции</a>
                  </li>
                  <li class="nav-item">
                    <a href="../templates/document.page.html">Документы</a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- </div> -->
          <div class="header__contact">
            <div class="header__contact-item">
              <img src="../asset/img/icons/whatsupIcon.svg" alt="WU" />
            </div>
            <div class="header__contact-item">
              <img src="../asset/img/icons/telegramIcon.svg" alt="TG" />
            </div>
            <div class="header__contact-item">+7 (4872) 25-37-77</div>
            <button
              class="burger"
              data-burger
              aria-label="Открыть меню"
              aria-expanded="false"
            >
              <span class="burger__line"></span>
            </button>
          </div>
        </div>
      </header>

      <section class="single-new__banner">
        <div class="container">
          <div class="new__banner-block">
            <img src="../asset/img/singleNewsBanner.png" alt="banner" />
            <div class="bredcrumbs">pupsik</div>
            <div class="new__banner-bottom">
              <div class="new__banner-buttons">
                <div>Новости</div>
                <div>21.02.2022</div>
              </div>
              <h2>Старт продаж квартир в доме №3!</h2>
            </div>
          </div>
        </div>
      </section>
      <section class="single-new__content">
        <div class="container">
          <div class="that-news">
            <h3>Старт продаж</h3>
            <div class="that-news__content">
              тут контентная часть новоститут контентная часть новоститут
              контентная часть новоститут контентная часть новоститут контентная
              часть новоститут контентная часть новоститут контентная часть
              новоститут контентная часть новоститут контентная часть новоститут
              контентная часть новоститут контентная часть новости
            </div>
          </div>
          <div class="another-news">
            <h3>Другие новости</h3>
            <div class="another-news__content">
              <div class="news__card active">
                <img
                  class="news__card-img"
                  src="../asset/img/news-page card.png"
                  alt="card"
                />
                <div class="news__card-title">
                  Старт продаж квартир в доме №3!
                </div>
                <div class="news__card-logo">
                  <img src="../asset/img/icons/logo grey.svg" alt="" />
                </div>
                <div class="news__card-button">
                  <div class="card-button__item">Новости</div>
                  <div class="card-button__item">21.02.2022</div>
                </div>
              </div>
              <div class="news__card active">
                <img
                  class="news__card-img"
                  src="../asset/img/news-page card.png"
                  alt="card"
                />
                <div class="news__card-title">
                  Старт продаж квартир в доме №3!
                </div>
                <div class="news__card-logo">
                  <img src="../asset/img/icons/logo grey.svg" alt="" />
                </div>
                <div class="news__card-button">
                  <div class="card-button__item">Новости</div>
                  <div class="card-button__item">21.02.2022</div>
                </div>
              </div>
              <div class="news__card active">
                <img
                  class="news__card-img"
                  src="../asset/img/news-page card.png"
                  alt="card"
                />
                <div class="news__card-title">
                  Старт продаж квартир в доме №3!
                </div>
                <div class="news__card-logo">
                  <img src="../asset/img/icons/logo grey.svg" alt="" />
                </div>
                <div class="news__card-button">
                  <div class="card-button__item">Новости</div>
                  <div class="card-button__item">21.02.2022</div>
                </div>
              </div>
              <div class="news__card active">
                <img
                  class="news__card-img"
                  src="../asset/img/news-page card.png"
                  alt="card"
                />
                <div class="news__card-title">
                  Старт продаж квартир в доме №3!
                </div>
                <div class="news__card-logo">
                  <img src="../asset/img/icons/logo grey.svg" alt="" />
                </div>
                <div class="news__card-button">
                  <div class="card-button__item">Новости</div>
                  <div class="card-button__item">21.02.2022</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="form-section">
        <div class="container">
          <div class="form-section__content">
            <h2 class="form-title">
              Подпишитесь на рассылку новостей и оставайтесь в курсе событий
            </h2>
            <div class="form-subtitle">
              Нажимая на кнопку, вы принимаете политику конфиденциальности и
              даете согласие на обработку персональных данных
            </div>
            <form class="form" action="">
              <input
                class="form-name form-input"
                placeholder="Ваше имя"
                type="text"
              />
              <input
                class="form-email form-input"
                placeholder="E-mail"
                type="text"
              />
              <button type="submit" class="form-send">
                Подписаться на рассылку
              </button>
            </form>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="container">
          <div class="footer-info">
            <h2>У вас остались вопросы?</h2>
            <span>
              Оставьте ваши данные, наш менеджер свяжется с вами в ближайшее
              время.
            </span>
          </div>
          <div class="footer-feedback">
            <form action="">
              <input placeholder="+7 ХХХ ХХХ ХХ ХХ" type="text" />
              <button type="submit">
                <img src="../asset/img/icons/sendPlaneIcon.svg" alt="" />
              </button>
            </form>
            <span class="feedback-text">
              Нажимая на кнопку, вы принимаете политику конфиденциальности и
              даете согласие на обработку персональных данных
            </span>
          </div>
          <div class="footer-line"></div>
          <div class="footer-contact">
            <div class="contact-number">
              +7 (4872) 25-37-77 <br />
              market@3snt.ru
            </div>
            <br />
            <div class="contact-address">
              Тула <br />
              ул. Благовещенская, д. 6
            </div>
            <br />
            <div class="contact-politic">Политика конфиденциальности</div>
          </div>
          <div class="footer-social">
            <div class="social-title">© 2022, 3SNT GROUP</div>
            <br />
            <div class="social-networks">
              <img src="../asset/img/footer_vk.png" alt="vk" />
              <img
                src="../asset/img/footer_odnoclassniki.png"
                alt="odnoclassniki"
              />
              <img src="../asset/img/footer_telegram.png" alt="telegram" />
              <img src="../asset/img/footer_youtube.png" alt="youtube" />
            </div>
            <br />
            <span>Все права защищены</span>
          </div>
        </div>
      </footer>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script> -->
    <!-- <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU"></script> -->
    <!-- <script src="./asset/compoents/nouislider.min.js"></script> -->
    <!-- <script src="./asset/compoents/rangesliderAlone.js"></script> -->
    <script src="../asset/appAdditional.js"></script>
  </body>
</html>
